.alineacion{
justify-content: center;
}

.grup{
/*justify-content: center;*/
margin-right: 600px;
}

.h1{
text-align: right;   
font-size: 1.5rem; 
margin-right: 150px;
}

.img2{
    width: 250px;
    margin-left: 905px;
    margin-right: 100px;
    justify-content: right;
}

.img{
    width: 130px;
    height: 130px;
    margin-left: 25px;
    margin-right: 10%;
}

.img3{
    width: 130px;
    height: 160px;
 
}

.boton{
    border-bottom: 2cm;
    margin-bottom: 2rem;
    background-color: black;
    color:white;
    width: 60px;
    height: 40px;
}

.titulo{
    margin-top: 1.5rem;
    text-align: center;
}

.h2{
    margin-top: 4rem;
    text-align: center;

}
.h3{
    text-align: center;
}

.txt{
    font-style: italic;
    text-align: justify;
    margin-left: 15px;
    margin-right: 5px;
}

.contenedor2{
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.columna{
    padding: 50px;
    margin: 0 15px;
}

.columna2{
    padding: 50px;
    margin: 0 15px;
}

.columna3{
    padding: 50px;
    margin: 0 15px;
}

.columna4{
    padding: 50px;
    margin: 0 30px;
}

.columna5{
    padding: 75px;
    margin: 0 30px;
}

.f{
    text-align: right;   
    font-style: italic;
    
}

.alinear-derecha{
    justify-content: end;
}


    .boton{

        /*background-color: var(--SECUNDARIO);
        color: var(--blanco);
        padding: 1rem 3rem;
        margin-top: 1rem;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0.5rem;
        -webkit-border-radius:0.5rem;
        -moz-border-radius:0.5rem;
        -ms-border-radius:0.5rem;*/
        -o--border-radius:0.5rem;
        width: 90%;
        text-align: center;
    
    }
    .flex{
        display: flex;
        }

